<table class="table table-hover">

  <thead>
    <tr>
	<th></th><th>average</th>
    </tr>
  </thead>

 <tbody>
  <% averages.each do |average| %>
   <tr>
     <td><%= average.name %></td>
     <td><%= "%0.2f" % average.average_rating %></td>
   </tr>
  <% end %>
 </tbody>

</table>

