<h2>List of ratings</h2>

<p>Number of ratings <%= @ratings.count%></p>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to rating.user, rating.user %> </li>
  <% end %>
</ul

<br>
	<% if not current_user.nil? %>
		<%= link_to 'New rating', new_rating_path %>
	<% end %>
